.App {
  text-align: center;
}

.brand-text {
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: bold;
  color: #8f99a0;
}

.custom-button {
  margin: 5px; /* Додайте відступ, як вам потрібно */
  font-size: 1.5em; /* Збільште розмір шрифту, як вам потрібно */
  text-decoration: none; /* Заборона підчеркування для тексту посилань */
  padding: 10px 20px; /* Додайте відступи від тексту кнопки */
  border-radius: 10px; /* Задайте радіус кутів для кнопки */
  color: #007bff; /* Задайте колір тексту кнопки */
  border: 2px solid #007bff; /* Задайте колір межі кнопки */
  background-color: #ffffff; /* Задайте колір фону кнопки */
  transition: all 0.3s ease-in-out; /* Додайте анімацію для плавного змінення стилів */
}

.custom-button:hover {
  color: #ffffff; /* Змініть колір тексту при наведенні курсору */
  background-color: #007bff; /* Змініть колір фону при наведенні курсору */
}
